<div id="actionbar">

  <button id="brand-logo">
    N
  </button>

  <button (click)="addNote()" id="add-note-btn">
    <i class="fas fa-plus"></i>
  </button>

  <button id="search-note-btn">
    <i class="fas fa-search"></i>
  </button>

  <button id="favorites-btn">
    <i class="fas fa-star"></i>
  </button>

  <a href="https://github.com/jasonwj96/nevernoteAPI" target="_blank">
    <button id="github-btn">
      <i class="fab fa-github"></i>
    </button>
  </a>

  <button id="logout-btn">
    <i class="fas fa-cog"></i>
  </button>

  <button id="logout-btn">
    <i class="fas fa-sign-out-alt"></i>
  </button>

</div>
