$accent: #7014e8;

$primary: #202020;
$terciary: #ffffff;
$secondary: #131313;
$quaternary: #868686;
$secondary-dark: #9b9b9b;

$hover-color: #fff;
$delete-color: #db0000;

$placeholder-color: #fff;
$textarea-color: #fff;
$tag-color: #fff;
$tag-bg: #ffd900;
$favorite-color: #ffad17;
$save-color: #2dbe60;
