//Main palette
// $accent: #7014e8;
$accent: #006eff;
$g-border-color: #dbdbdb;
$g-border-size: 1px;

$primary: #fff;
$secondary: #f7f7f7;
$terciary: #111;
$quaternary: #dbdbdb;
$secondary-dark: #9b9b9b;

//Actionbar component
$actionbar-bg: #f7f7f7;

//Actionbar component buttons
$btn-bg: transparent;
$btn-color: #006eff;
$btn-link: #dbdbdb;
$btn-hover-bg: #006eff;
$btn-hover-color: #fff;
$btn-border-color: transparent;

//Notelist component

//Editor component
$hover-color: #fff;
$delete-color: #e90404;

$placeholder-color: #111;
$textarea-color: #111;
$tag-color: #fff;
$tag-bg: #ffad17;
$favorite-color: #ffad17;
$save-color: #2dbe60;

//Snackbar
$snackbar-bg: $accent;
$snackbar-color: #111;
$snackbar-btn-color: #111;
